@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.top{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
    margin-left: 100px;
}


.bottom{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}
     

.left{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 70px;
    width: 500px;
}

.main{
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
    margin-top: 0;
    margin-bottom: 0;
}    

.secondary{
    font-size: 18px;
    color:#e5e7eb;
    font-weight: 300;
    margin-top: 0;
}

.button{
    background-color: blue;
    color: white;
    width: fit-content;
    border:none;
    font:inherit;
    border-radius: 12px;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.right{
    display: flex;
    background-color: gray;
    margin-right: 100px;
    margin-bottom: 70px;
    width: 500px;
    justify-content: center;
    align-items: center;

}


ul{
    list-style-type: none;
    margin-right: 100px; 
    padding: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    padding-right: 8px;
    padding-left: 8px;
}

